<ion-header>
  <ion-toolbar color="primary" class="banner">
    <ion-button slot="start" fill="clear" (click)="closeChat()">
      <ion-icon name="close" >
      </ion-icon>
    </ion-button>
    <ion-title>Información del Ave</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>


  <ion-card *ngFor="let item of result" >
    <ion-card-header>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-img [src]="item.bird_image"></ion-img>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>


      <ion-card-subtitle>Número de avistamientos: {{ item.bird_sightings }}</ion-card-subtitle>
      <ion-card-title>{{ item.bird_name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{item.bird_description}}
    </ion-card-content>
  </ion-card>
<div>
  <ion-card>
  <span style="margin: 5px;"> Agregar Avistamiento</span>
  <form (ngSubmit)="logForm()">
    <ion-item>
      <ion-label>Lugar</ion-label>
      <ion-input type="text" [(ngModel)]="place" name="place"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Longitud</ion-label>
      <ion-input type="text" [(ngModel)]="long" name="long"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Latitud</ion-label>
      <ion-input type="text" [(ngModel)]="lat" name="lat"></ion-input>
    </ion-item>

    <ion-button type="submit" (click)="addAve()" block>Almacenar</ion-button>
  </form>

</ion-card>
</div>
<ion-card>
  <ion-grid>
    <ion-row>
      <ion-col>
        #
      </ion-col>
      <ion-col>
        Lugar
      </ion-col>
      <ion-col>
        Longitud
      </ion-col>
      <ion-col>
        Latitud
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let item of avistamientos">
      <ion-col>
        {{item.id}}
      </ion-col>
      <ion-col>
        {{item.place}}
      </ion-col>
      <ion-col>
        {{item.long}}
      </ion-col>
      <ion-col>
        {{item.lat}}
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-card>
</ion-content>
