<ion-header>
</ion-header>

<ion-content>

  <div class="contenedorImg">
      <img src="assets/iconoapp.png" class= "d-flex justify-content-center" alt="Logo">
  
  </div>

   
  <div class="container h-100">
    <div class="d-flex justify-content-center h-100">
      <div class="user_card">
          <h2>Avistamiento de Aves</h2>
       
        <div class="d-flex justify-content-center form_container">
          <form>
            <div class="input-group mb-3">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-user"></i></span>
              </div>
              <input type="text" name="user" [(ngModel)]="user" class="form-control input_user" value="" placeholder="Nombre de usuario">
            </div>
            <div class="input-group mb-2">
              <div class="input-group-append">
                <span class="input-group-text"><i class="fas fa-key"></i></span>
              </div>
              <input type="password" name="password" [(ngModel)]="password" class="form-control input_pass" value="" placeholder="Contraseña ">
            </div>
          </form>
        </div>
        <div class="d-flex justify-content-center mt-3 login_container">
          <button type="button" name="button" class="btn login_btn" (click)="login()">Iniciar Sesión</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
