<ion-header>
    <ion-toolbar color="primary" class="banner">
      <ion-button slot="start" fill="clear" (click)="closeChat()">
        <ion-icon name="close">
        </ion-icon>
      </ion-button>
      <ion-title>Agregar de aves</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
  <form>
    <ion-item>
      <ion-label>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="bird_name" name="bird_name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Descripción</ion-label>
      <ion-input type="text" [(ngModel)]="bird_description" name="bird_description"></ion-input>
    </ion-item>
    <ion-button type="submit" (click)="addAve()" block>Almacenar</ion-button>
  </form>
  </ion-content>
  