<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button (click)="addModal()"><img src="assets/agrega.png" alt=""></ion-button>
    </ion-buttons>
    <ion-title>
Mis Aves    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="fondo">

  <ion-card *ngFor="let item of result">
    <ion-card-header>
      <ion-row>
        <ion-col col-4></ion-col>
        <ion-col col-4>
          <ion-img [src]="item.bird_image"></ion-img>
        </ion-col>
        <ion-col col-4></ion-col>
      </ion-row>


      <ion-card-subtitle>Avistamientos: {{ item.bird_sightings }}</ion-card-subtitle>
      <ion-card-title>{{ item.bird_name }}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-button (click)="detalleModal(item.id)">Ver Detalles / Agregar Avistamientos</ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
